.friend-grid {
  padding: 0px;
  margin-top: 20px;
  margin-left: 15%;

  // @media (min-width: $large-breakpoint) and (max-width: $largest-breakpoint) {
  //   margin-right: 0px;
  //   margin-left: 20%;
  // }
  // @media (min-width: $largest-breakpoint) {
  //   margin-right: 0px;
  // }
}
